# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environment
.env
.venv/
env/
venv/
*.egg-info/
.dvc/dvc-ml-5a540d4ae328.json
# VSCode / IDEs
.vscode/
.idea/

# Ignore all DVC files...
*.dvc

# ...but allow them explicitly (this overrides the line above)
!*.dvc

# Ignore DVC cache and temp files (you don't need to track those)
.dvc/cache/
.dvc/tmp/


# Dataset and outputs
dataset/*
!dataset.dvc
runs/

# PyTorch cache
~/.cache/
*.pt

# Logs / artifacts
*.log
*.ckpt

# OS junk
.DS_Store
Thumbs.db

yolov5/
/dataset
